.main {
    background-color: #585B68;
    width: 80%;
    margin: 0;
    background-image: url(../../images/image.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}