.sidebar {
    background-color: #E5E5E5;
    margin: 0;
    width: 20%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar-header {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}